
        <footer class="footer">
            <section class="footer-container container">
                <nav class="nav nav-footer">
                    <h2 class="footer-title">Universidog</h2>

                    <ul class="nav-link-footer">
                        <li class="nav-items">
                            <a href="#" class="nav-links">Inicio</a>
                        </li>
                        <li class="nav-items">
                            <a href="#" class="nav-links">Nosotros</a>
                        </li>
                        <li class="nav-items">
                            <a href="#" class="nav-links">Escuela</a>
                        </li>
                        <li class="nav-items">
                            <a href="#" class="nav-links">Contacto</a>
                        </li>
                    </ul>
                </nav>
            </section>
            <section class="footer-copy container">
                <div class="footer-social">
                    <a href="#" class="footer__icons"><img src="/images/facebook.svg" class="footer-img"></a>
                    <a href="#" class="footer__icons"><img src="/images/twitter.svg" class="footer-img"></a>
                    <a href="https://www.instagram.com/universidog_/?hl=es" class="footer__icons"><img src="/images/instagram.svg" class="footer-img"></a>
                </div>
                    <h3 class="footer-copyright">Derechos reservados &copy; Universidog</h3>
                </div>
                </section>
        </footer>
      