<header class="header-index">
    <%- include('../partials/nav-menu.ejs') %>
    <div></div>
    <section class="header-container container">
        <h1 class="header-title">Educa a tu mascota</h1>
        <p class="header-paragraph">Dale a tu mascota lo que necesita para ser feliz.</p>
        <a href="" class="cta">Comienza a ahora</a>
    </section>
</header>