<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Universidog - Escuela</title>
</head>
<body>
    <header class="header">
        <nav class="nav nav-header container">
            <div class="logo">
                <img src="../images/logo.png" alt="Logo universidog">  
                <h2 class="nav-title">Universidog <br><small>#AprendiendoJuntos</small></h2>
            </div>
            <ul class="navlink navlink-menu">
                <li class="nav-items">
                    <a href="../index.html" class="nav-links">Inicio</a>
                </li>
                <li class="nav-items">
                    <a href="#" class="nav-links">Nosotros</a>
                </li>
                <li class="nav-items">
                    <a href="/views/escuela.html" class="nav-links">Escuela</a>
                </li>
                <li class="nav-items">
                    <a href="#" class="nav-links">Contacto</a>
                </li>
               

                <img src="../images/close.svg" alt="" class="nav-close">
            </ul>
            <div class="nav-menu">
                <img class=nav-img src="../images/ham-menu.svg" alt="hamb-menu">
            </div>
        </nav>
        <div></div>
        <section class="header-container container">
            <h1 class="header-title">Educa a tu mascota</h1>
            <p class="header-paragraph">Dale a tu mascota lo que necesita para ser feliz.</p>
            <a href="" class="cta">Comienza a ahora</a>
        </section>
    </header>
</body>
</html>