@import url(styles.css);

.header {
    width: 100%;
    height: 40vh;
    min-height: 400px;
    position: relative;
    display: grid;
    grid-template-rows: 50px 1fr;
    color: #fff;
    
}
.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url("../images/cursos/curso-cachorro2.jpg");
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
    z-index: -1;
}
.modulos-container{
    width: 90%;
    margin:auto;
    margin-bottom: 3rem;
   
}

button.accordion {
    background-color:var(--verde);
    color:var(--negro);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    border-bottom: solid 1px var(--crema);

}

button.accordion.active{
    background-color:var(--crema);
}

button.accordion:after {
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}


div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
}

div.panel.show {
    opacity: 1;
    max-height: 2000px;
    margin-bottom: 20px;
}
.icon-arrow{
    border-radius: 50%;
    background-color: var(--color-title);
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    margin-left: 10px;
    transition:  transform .3s;
}

.icon-arrow--rotate{
    transform: rotate(90deg);
}
.icon-img{
    display: block;
}

/* Start: Video Responsive */
.video-responsive {
    overflow:hidden;
    padding-bottom:600px; /* Adecua este valor para controlar la altura del video */
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    
}
/* End: Video Responsive */