<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="wiph=device-wiph, initial-scale=1.0">
    <link rel="stylesheet" href="/css/plantillaCurso.css">

    <title>Curso </title>
</head>

<body>
    <main>
        <header class="header">
            <%- include('../partials/nav-menu.ejs') %>
            <section class="header-container container">
                <h1 class="header-title">Curso de Cachorro</h1>
                
            </section>
        </header>
    <section class="modulos-container">

        <article>
            <button class="accordion">Modulo I
                <span class="icon-arrow">
                    <img src="/images/arrow.svg" class="icon-img">
                </span>
            </button>
            <div class="panel">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip
                    ex ea commodo consequat.</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos
                    facere, quidem eum id excepturi assumenda explicabo nam accusamus veritatis voluptates
                    eveniet adipisci, dicta nihil nemo modi possimus officiis quam atque? Lorem ipsum, dolor sit
                    amet consectetur adipisicing elit. Quos facere, quidem eum id excepturi assumenda explicabo
                    nam accusamus veritatis voluptates eveniet adipisci, dicta nihil nemo modi possimus officiis
                    quam atque?</p>
                <div class="video-responsive">
                    <iframe width="560" height="315"
                        src="https://www.youtube.com/embed/CrpI-NH507A?rel=0&showinfo=0&controls=1"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
        </article>
        <article>
            <button class="accordion">Modulo II
                <span class="icon-arrow">
                    <img src="/images/arrow.svg" class="icon-img">
                </span>
            </button>
            <div class="panel">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip
                    ex ea commodo consequat.</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos
                    facere, quidem eum id excepturi assumenda explicabo nam accusamus veritatis voluptates
                    eveniet adipisci, dicta nihil nemo modi possimus officiis quam atque? Lorem ipsum, dolor sit
                    amet consectetur adipisicing elit. Quos facere, quidem eum id excepturi assumenda explicabo
                    nam accusamus veritatis voluptates eveniet adipisci, dicta nihil nemo modi possimus officiis
                    quam atque?</p>

            </div>
        </article>
    </section>
    </main>

        <script src="/js/hidden.js"></script>
        <script src="/js/menu.js"></script>
        <script src="/js/scrollreveal.js"></script>
        <script src="/js/scroll.js"></script>
</body>

</html>